<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<script src="/js/socket.io.js"></script>
<script>
  window.onload = function(){
    var socket = io();
  }
</script>

<body>
  <h1>Welcome to Koa2</h1>
</body>

</html>